#banner
	.banner_content
		%h1 brainbox
		%p Stuff in your brain, but organized.
		%button= link_to "Sign Up", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Wafer sesame snaps dessert. Muffin lollipop cake cotton candy apple pie powder halvah chupa chups jelly beans. Cookie sweet cupcake candy pie gingerbread jelly oat cake gummies. Dessert cotton candy dessert tart. Macaroon jelly-o soufflé. Tootsie roll cheesecake croissant carrot cake. Pastry gummi bears chupa chups dessert cupcake pie. Candy marzipan candy canes gingerbread topping. Lollipop candy canes donut gummies apple pie halvah macaroon halvah dragée. 


				%p Candy chocolate bar icing tiramisu lollipop croissant halvah tiramisu toffee. Icing powder cake tiramisu. Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.
#bottom_cta
	.wrapper
		%h2 Do it.
		%button= link_to "Join Now", new_user_registration_path
